body {
  background-color: lightcoral;
  color: lightblue;
  font-size: 50px;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.header {
  color: lightblue;
  margin-top: 100px;
}

.smaller-header {
  font-size: 50px;
}

#header {
  color: aquamarine;
}

.card {
  background-color: pink;
  border: 8px solid black;
  border-radius: 50px;
  color: black;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
}

*body,
html {
  box-sizing: border-box;
}
